<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/items/zombie" method="post">
    <label for="name">Name</label>
    <input id="name" name="name" type="text">
    <label for="cost">Cost</label>
    <input id="cost" name="cost" type="number" step="0.01">
    <label for="weight">Weight</label>
    <input id="weight" name="weight" type="text">
    <input type="checkbox" id="necessity" name="necessity" value="true">
    <label for="necessity">Necessity</label><br>
    <input type="checkbox" id="purchased" name="purchased" value="true">
    <label for="purchased">Purchased</label><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>