<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apocalypse Packer Tracker</title>
</head>
<body>
  <h1>Welcome to the Apocalypse Packer Tracker!</h1>
  <h3>Please choose your impending apocalypse:</h3>
  <ul>
    <li><a href="items/zombie">Zombies</a></li> <!--Zombiesp() => zombie.cshtml-->
    <li>Nuclear Winter</li>
    <li>Flooding</li>
    <li>Earthquakes</li>
  </ul>
</body>
</html>